<div class="container-fluid d-flex adminloginpage">
        <div class="sideImage ">
            
        </div>
        <div class="loginForm">
            <form action="/admin/login" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group mb-4 ms-5">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" style="width: 70%;" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group mb-4 ms-5">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" style="width: 70%;" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn ms-5 mt-5 mb-5" style="width: 100px; background-color: #72383D;color: white;">Login</button>
                <p class="or mt-2 ms-5">Don't have an account?<a class="accountCreation p-0" href="/admin/register">Register</a></p>
                <div class="notification text-center text-danger">
                    {{#if message}}
                        <p>{{message}}</p>
                    {{/if}}
                </div>
            </form>
        </div>
</div>