<div class="container-fluid d-flex" style="background-color: #D9D9D9;">
    <div class="sideMenu">
        <a href="/admin"><button type="button" class="btn btn-light sideMenuButton" ><i class="bi bi-view-list"></i> <span class="menuLabel"> Dashboard</span></button></a>
        <a href="/admin/customers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-people-fill"></i><span class="menuLabel"> Customers</span></button></a>
        <a href="/admin/products"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-seam-fill"></i><span class="menuLabel"> Products</span></button></a>
        <a href="/admin/orders"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-receipt"></i><span class="menuLabel"> Orders</span></button></a>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-card-image"></i><span class="menuLabel"> Banner Management</span></button></a>
        <a href="/admin/coupons"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-ticket-perforated-fill"></i><span class="menuLabel"> Coupen Management</span></button></a>
        <a href="/admin/salesReport"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-journal-bookmark"></i><span class="menuLabel"> Sales Report</span></button></a>
        <a href="/admin/category"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-collection-fill"></i><span class="menuLabel"> Catagory</span></button></a>
        <a href="/admin/offers"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-graph-down-arrow"></i><span class="menuLabel"> Offers</span></button></a>
        <dir class="separator mt-3 pt-5"></dir>
        <a href=""><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-gear"></i><span class="menuLabel"> Settings</span></button></a>
        <a href="/admin/logout"><button type="button" class="btn btn-light sideMenuButton"><i class="bi bi-box-arrow-right"></i><span class="menuLabel"> Logout</span></button></a>
    </div>
    <div class="dashboardDetails">
        <div class="salesSummery d-flex justify-content-evenly">
            <div class="total">
                <h6>Total Revenue</h6>
                <p class="m-0 text-center text-success fw-bold fs-4"><i class="bi bi-currency-rupee"></i> {{totalRevenue}}</p>
            </div>
            <div class="total">
                <h6>Total Orders</h6>
                <p class="m-0 text-center text-success fw-bold fs-4">{{totalOrders}}</p>
            </div>
            <div class="total">
                <h6>Total Customers</h6>
                <p class="m-0 text-center text-success fw-bold fs-4">{{totalCustomers}}</p>
            </div>
        </div>
        <div class="d-flex mt-5 ms-5 d-flex justify-content-between">
            <div class="col-md-4">
                <a href="/admin/topSellingProducts" class="btn btn-warning fw-medium">View best selling products (top 10)</a>
            </div>
            <div class="col-md-4">
                <a href="/admin/topSellingCategorys" class="btn btn-warning fw-medium">View best selling catagories (top 10)</a>
            </div>
            <div class="col-md-4">
                <a href="/admin/topSellingBrands" class="btn btn-warning fw-medium">View best selling brands (top 10)</a>
            </div>
        </div>
        <h5 class="ms-5 mt-5">
            Chart Filter
        </h5>
        <div class="d-flex justify-content-between mb-3 ms-5">
            <div class="custom_select col-md-2 col-6">
                <select class="form-select select-nice" name="groupBy" id="filterSelect">         {{!onchange="periodicSalesData(this)"}}
                    <option selected value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
            </div>
            <div class="col-md-2 col-6 me-5">
                <input type="date" class="form-control" id="customDate" name="date" >
                <div class="text-danger" id="formError" style="font-size: small;">
                    {{#if ErrMessage}}
                        <p>{{ErrMessage}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="salesDetails mb-5"  onload="dailySalesData()">
            <div class="graph" id="dailySalesData">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    async function dailySalesData(){
        console.log("called");
        try{
            const response = await fetch('/admin/dailySalesData',{
                method:'GET'
            });
            const data = await response.json();
            console.log("data:",data);

            const ctx = document.getElementById('myChart');

            const chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.map(row => row._id),
                    datasets: [{
                        label: 'daily revenue',
                        data: data.map(row => row.totalSales),
                        borderWidth: 1
                    }]
                },
                options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
                }
            });

            async function periodicSalesData(){
                try{
                    console.log("hey");
                    const filterValue = document.getElementById("filterSelect").value;
                    const filterName = document.getElementById("filterSelect").name;
                    const query = `${filterName}=${filterValue}`;
                    console.log("q:",query);
                    const response = await fetch(`/admin/chartFilter?${query}`,{
                        method:'GET',
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    const data = await response.json();
                    console.log("data:",data);
                    const salesDataArray = data.periodwiseSalesData;
                    console.log("salesDataArray:",salesDataArray);
                    chart.data.labels = salesDataArray.map(value=>{
                        if(data.period === 'daily'){
                            return value._id;
                        }else if(data.period === 'weekly'){
                            return value._id.week;
                        }else if(data.period === 'monthly'){
                            return `${value._id.month}/${value._id.year}`;
                        }else if(data.period === 'yearly'){
                            return value._id.year;
                        }
                    });
                    chart.data.datasets[0].data = salesDataArray.map(value => value.totalSales);
                    chart.data.datasets[0].label = `${data.period} revenue`
                    chart.update();
                }catch(err){
                    console.log("err:",err.message);
                }
            }

            async function dayWiseSalesReport(){
                try{
                    const date = document.getElementById("customDate").value;
                    console.log("date:",date);
                    const errorBlock = document.getElementById("formError");
                    if(new Date(date)>Date.now()){
                        errorBlock.innerText = "Select a valid date";
                        return false;
                    }else{
                        errorBlock.innerText = '';
                    }
                    const response = await fetch(`/admin/dayWiseData?date=${date}`,{
                        method:'GET'
                    });
                    const data = await response.json();
                    console.log("day wise data:",data);
                    chart.data.labels = data.map(value => value._id);
                    chart.data.datasets[0].data = data.map(value => value.totalSales);
                    chart.data.datasets[0].label = 'Day wise data';
                    chart.update();
                }catch(err){
                    console.log("err:",err);
                }
            }

            //adding onchange event listner for daily/weekly/monthly dropdown filters
            const filterSelect = document.getElementById("filterSelect");
            const value = filterSelect.value;
            console.log("value:",value);
            filterSelect.addEventListener('change',periodicSalesData);
            //adding onchange event listner for custom date selector
            const customDateSelect = document.getElementById("customDate");
            customDateSelect.addEventListener('change',dayWiseSalesReport);

        }catch(err){
            console.log("Error:",err.message);
        }
    }

  window.onload = dailySalesData;
</script>
<script>
    
</script>