<div class="couponsDisplay">
    <div class="d-flex flex-column">  
        <div class="products mb-3 d-flex justify-content-center flex-wrap">
            {{#if coupons}}
                {{#each coupons}}
                    {{#if this.isActive}}
                        <div class="card col-md-3 m-3" style="background-color: #7B1FA2; padding: 10px; width: 300px; border:none;position: relative;">
                            <div class="cross-bg"></div>
                            <div class="content">
                                <div class="text-center text-uppercase text-white off mt-3">
                                    <span>Flat</span>
                                    <h1 class="mt-0">{{this.discount}}%</h1>
                                    <span class="plus ms-5 ps-5">OFF</span>
                                </div>
                                <div class="text-center text-white my-3">
                                    <span class="plus fs-6 ">on minimun purchase of</span>
                                </div>
                                <div class="text-center text-uppercase text-white">
                                    <h3 class="m-0">Rs. {{this.minimumSpend}} </h3>
                                </div>
                                <div class="px-5 mb-3"></div>
                                <div class="code text-center mt-4">
                                    <span>Use code : {{this.couponCode}}</span>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            {{else}}
                <h6 class="alert alert-warning">Sorry.. <br><br> No Coupons Available</h6>
            {{/if}}
        </div>
    </div>
</div>