<style>
   .checkmark{
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
   }
</style>


<section class="hero-2 bg-green">
  <div class="hero-content">
    <div class="container">
      <div class="text-center">
        <h4 class="text-brand mb-20">Yaayy...!!!</h4>
        <h1 class="mb-20 wow fadeIn animated font-xxl fw-900 text-light my-5" >
          Order Placed Successfully
        </h1>
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <p class="wow fadeIn animated mt-5">
          <a
            class="btn btn-brand btn-lg font-weight-bold btn-light border-radius-5 btn-shadow-brand hover-up" 
            style="color: #72383D"
            href="/account_overview"
          >View Orders</a>
          <a 
            href="/"
            class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up"
          >Continue Shopping</a>
        </p>
      </div>
    </div>
  </div>
</section>