
<section class="product-container container">
        <!-- left side -->
        <div class="img-card ms-5" style="width: 45%;">
            <div id="imgContainer">
                <img src="/images/products/men-hoodies-white.jpg" alt="" id="featured-image">
            </div>
            
            <!-- small img -->
            <div class="small-Card">
                <img src="/images/products/men-hoodies-white.jpg" alt="" id="featured-image" class="small-Img">
                <img src="/images/products/men-tshirt-white (2).jpg" alt="" class="small-Img">
                <img src="/images/products/tshirt-mockup-grey.jpg" alt="" class="small-Img">
                {{!-- <img src="/images/products/tshirt-mockup-white.jpg" alt="" class="small-Img">
                <img src="/images/products/tshirt-mockup-grey.jpg" alt="" class="small-Img"> --}}
            </div>
        </div>
        <!-- Right side -->
        <div class="product-info ms-5" style="width: 65%;">
            <h3>LEVI'S Mens's' Hoodies</h3>
            <h5>Price: Rs.1599 <del>Rs.2999 </del></h5>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa accusantium, aspernatur provident beatae corporis veniam atque facilis, consequuntur assumenda, vitae dignissimos iste exercitationem dolor eveniet alias eos ullam nesciunt voluptatum.</p>
            
            <div class="sizes">
                <p>Size:</p>
                <select name="Size" id="size" class="size-option">
                    <option value="xxl">XL</option>
                    <option value="xl">L</option>
                    <option value="medium">M</option>
                    <option value="small">S</option>
                </select>
            </div>

            <div class="quantity">
                <p>Quantity:</p>
                <input type="number" value="1" min="1">
                <button style="display: block;">Add to Cart</button>
            </div>

            <div>
                <p>Delivery:</p>
                <p>Free standard shipping on orders over Rs.500 before tax, plus free returns.</p>
            </div>
            
        </div>
    </section>

    <section class="suggestion mt-5">
        <h4 class="text-center pt-3">Suggested products</h4>
        <div class="d-flex justify-content-center flex-wrap my-4">
            <div class="card mb-3 ms-5 " style="width: 18rem;">
                <a class="productListCart" style="text-decoration: none; color: black;" href="">
                <img src="/images/products/men-tshirt-white (2).jpg" class="card-img-top" style="height:350px;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Levis</h5>
                    <p class="card-text">Men's black Jeans</p>
                    <h6 class="card-title">Rs.1699</h6>
                </div>
                </a>
            </div>
            <div class="card mb-3 ms-5 " style="width: 18rem;">
                <a class="productListCart" style="text-decoration: none; color: black;" href="">
                <img src="/images/products/men-tshirt-white (2).jpg" class="card-img-top" style="height:350px;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Levis</h5>
                    <p class="card-text">Men's black Jeans</p>
                    <h6 class="card-title">Rs.1699</h6>
                </div>
                </a>
            </div>
            <div class="card mb-3 ms-5 " style="width: 18rem;">
                <a class="productListCart" style="text-decoration: none; color: black;" href="">
                <img src="/images/products/men-tshirt-white (2).jpg" class="card-img-top" style="height:350px;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Levis</h5>
                    <p class="card-text">Men's black Jeans</p>
                    <h6 class="card-title">Rs.1699</h6>
                </div>
                </a>
            </div>
            <div class="card mb-3 ms-5 " style="width: 18rem;">
                <a class="productListCart" style="text-decoration: none; color: black;" href="">
                <img src="/images/products/men-tshirt-white (2).jpg" class="card-img-top" style="height:350px;" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">Levis</h5>
                    <p class="card-text">Men's black Jeans</p>
                    <h6 class="card-title">Rs.1699</h6>
                </div>
                </a>
            </div>
        </div>
    </section>

{{!-- image zoom  and image selection--}} 
<script>
    const imgContainer = document.getElementById('imgContainer');
    const img = imgContainer.querySelector('img');
    const featuredImage = document.getElementById('featured-image');
    const smallImages = document.querySelectorAll('.small-Img');

    imgContainer.addEventListener('mousemove',(e) => {
        const x = e.clientX - e.target.offsetLeft;
        const y = e.clientY - e.target.offsetTop;
        img.style.transformOrigin = `${x}px ${y}px`;
        img.style.transform = "scale(1.5)";
    })
    imgContainer.addEventListener('mouseleave',() =>{
        img.style.transformOrigin = 'center';
        img.style.transform = "scale(1)";
    })

    smallImages.forEach((img) => {
        img.addEventListener('click', () => {
            // Replace the current image with the clicked image
            featuredImage.src = img.src;
        });
    });
 
</script>