body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  box-sizing: border-box;
}

.logo{
  margin-left: 50%;
  height: 50px;
  width: 50px;
}
.carousel-item{
  
}


